.container {
  display: flex;
  align-items: flex-end;
  width: 100dvw;
  height: 100dvh;
  background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
}

.form {
  gap: 50%;
  width: 420px;
  height: 75%;
  justify-content: flex-start;
  background-color: #fff;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  box-shadow: 0 0 0 1px rgba(135, 135, 178, 0.2);
  padding: 24px 48px;
}